/.venv/
/.venv312/
/.idea/
/.__pycache__/
*.pyc
/sessions.db
/recordings/
/scripts/
/script_index.json
/settings.json
/SpeechPractice.spec
/build/
/dist/
/run_app.bat
/.claude
Agents..md
CLAUDE.md
*.exe
django-runserver.*.log
