PyQt5>=5.15
sounddevice>=0.4
numpy>=1.24
pyqtgraph>=0.13
openai-whisper>=20231117
jiwer>=3.0
SQLAlchemy>=1.4
soundfile>=0.12
# Optional: packaging helper
pyinstaller>=6.0
# if running python 3.12 or lower, and have an Nvidia GPU you can install CUDA enabled torch to run whisper on:
 (GPU): pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu12

# Build into executable: pyinstaller -y --windowed --name SpeechPractice --add-data "scripts;scripts" --add-data "script_index.json;." SpeechPractice.py
# Ensure ffmpeg is on PATH for Whisper